*{
    font-style:"Times New Roman";
}


h1{ 
    text-align:center;
    text-transform:capitalize;
}

#outer{
    font-style:Bold;
    font-size:25px;
}

#inner{
    font-style:light;
    font-size:10px;
}